

  /* pantallas 768px-998px */
@media screen and (min-width: 768px) and (max-width: 998px){

#encabezado img{
    height: 60px;
    width: 140px;
}
#formulario{
    height: 200px;
    width: 768px;
}
#seccion{
    width:768px;
}
label{
    padding-left: 20px;
    
}
#enviar{
    padding-top: 15px;
}
#lista{
    width: 768px;  
}
#lista ul{
    width: 750px;
}

}

@media screen and (min-width: 568px) and (max-width: 767px){
    #encabezado img{
        height: 60px;
        width: 140px;
    }
    #formulario{
        height: 200px;
        width: 568px;
    }
    #seccion{
        width:568px;
    }
    label{
        padding-left: 10px;
        font-size: 20px;
        
    }
    #enviar{
        padding-top: 15px;
    }
    #lista{
        width:568px;  
    }
    #lista ul{
        width: 100%;
        
    }
    button{
        height: 30px;
        font-size: 15px;
        padding: 0px 10px;
    }
    
}

@media screen and (min-width: 368px) and (max-width: 567px){
    #encabezado img{
        display: none;
    }
    #encabezado{
        display: flex;
        justify-content: center;
    }
    #formulario{
        height: 180px;
        width: 368px;
    }
    #seccion{
        width:368px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    label{
        padding-left: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        
    }
    input{
        height: 35px;
        width: 300px;
        
    }
    #enviar{
        padding-top: 15px;
    }
    #lista{
        width:368px;
    
    }
    #lista ul{
        width: 100%;
         
        
    }
    button{
        height: 30px;
        font-size: 15px;
        padding: 0px 10px;
    }
    
}


/* movil*/
@media screen and (max-width: 368px){
    #encabezado img{
        display: none;
    }
    #encabezado{
        display: flex;
        justify-content: center;
        text-align: center;
        height: 50px;
    }
    #contenedor{
        padding-top: 60px;
    }
    #formulario{
        height: 150px;
        width: 280px;
        border: whitesmoke 3px solid;
    }
    #seccion{
        width:280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    label{
        padding-left: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        
    }
    input{
        height: 30px;
        width: 260px;
        
    }
    #enviar{
        padding-top: 10px;
    }
    #agregar{
        font-size: 15px;
        text-align: center;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #lista{
        width:260px;
        padding: 10px;
    
    }
    #lista ul{
        width: 100%;
        text-align: center;
         
        
    }
    button{
        height: 30px;
        font-size: 10px;
        width: 250px;
    }
    
}

